/* post.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.loading-message {
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.success-message, .error-message {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}

.success-message {
    background-color: #28a745;
}

.error-message {
    background-color: #dc3545;
}

.voltar {
    margin-top: 10px;
    width: 100px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.voltar:hover {
    background-color: #0056b3;
}